
<link rel="stylesheet" href="../css/components/header.css">
<link rel="stylesheet" href="../css/components/account-sidebar.css">
<link rel="stylesheet" href="../css/components/footer.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<aside class="account-sidebar">

  <div class="account-sidebar__header">
    <h2 class="account-sidebar__title">會員中心</h2>
    <p class="account-sidebar__subtitle">管理您的帳戶資訊</p>
  </div>

  <nav class="account-sidebar__nav" aria-label="會員中心導覽">
    <ul class="account-sidebar__list">

      <li class="account-sidebar__item">
        <a href="../html/account-profile.html">
          <i class="fa-solid fa-user"></i>
          <span>個人資料</span>
        </a>
      </li>

      <li class="account-sidebar__item">
        <a href="../html/account-password.html">
          <i class="fa-solid fa-lock"></i>
          <span>修改密碼</span>
        </a>
      </li>

      <li class="account-sidebar__item">
        <a href="../html/account-address.html">
          <i class="fa-solid fa-map-pin"></i>
          <span>常用地址</span>
        </a>
      </li>

      <li class="account-sidebar__item">
        <a href="../html/account-notification.html">
          <i class="fa-solid fa-bell"></i>
          <span>訊息通知</span>
        </a>
      </li>

      <li class="account-sidebar__item">
        <a href="../html/account-favorite.html">
          <i class="fa-solid fa-heart"></i>
          <span>收藏店家</span>
        </a>
      </li>

      <li class="account-sidebar__item">
        <a href="../html/account-wallet.html">
          <i class="fa-solid fa-wallet"></i>
          <span>錢包餘額</span>
        </a>
      </li>

    </ul>
  </nav>

</aside>
